.question {

    text-align: center;
    font-size: 26px;
    line-height: 42px;
    padding: 50px 20px;

    img {
        height: 50px;
        width: auto;
        object-fit: contain;
        border: 3px solid;
        border-radius: 6px;
    }

    span {
        display: block;
    }

}